/* ---------------------------------------------------------------------------------------------- */
/* Make HTML more responsive (adapted from http://fluidity.sexy)                                  */
/* ---------------------------------------------------------------------------------------------- */
img, canvas, iframe, video, svg, select, textarea { max-width: 100%; }

/* ---------------------------------------------------------------------------------------------- */
/* Box-model fix (adapted from https://css-tricks.com/box-sizing)                                 */
/* ---------------------------------------------------------------------------------------------- */
html { box-sizing: border-box; } *, *:before, *:after { box-sizing: inherit; }

/* ---------------------------------------------------------------------------------------------- */
/* Size text according to screen width (adapted from http://adamkaplan.me/grid)                   */
/* ---------------------------------------------------------------------------------------------- */
html { font-size: 100%; }
@media (min-width: 40rem) { html { font-size: 112%; } }
@media (min-width: 65rem) { html { font-size: 120%; } }

/* ---------------------------------------------------------------------------------------------- */
/* Improved typography (adapted from http://bettermotherfuckingwebsite.com)                       */
/* ---------------------------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 { font-family: sans-serif; line-height: 1.2; letter-spacing: .03em; }
body { font-family: serif; line-height: 1.6; margin: 1em auto; max-width: 35em; }

/* ---------------------------------------------------------------------------------------------- */
/* Improved contrast (adapted from http://jgthms.com/web-design-in-4-minutes/)                    */
/* ---------------------------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, b, strong, th { color: #222; } body { color: #444; }

/* ---------------------------------------------------------------------------------------------- */
/* Clean table style table (adapted from http://getskeleton.com)                                  */
/* ---------------------------------------------------------------------------------------------- */
table { border-collapse: collapse; font-family: sans-serif; font-size: 90%; }
th, td { padding: 0 .75em; text-align: left; border-bottom: 1px solid #ddd; }
th { border-bottom-color: #aaa; }
th:first-child, td:first-child { padding-left: 0; }
th:last-child, td:last-child { padding-right: 0; }

/* ---------------------------------------------------------------------------------------------- */
/* Additional adjustments (my own)                                                                */
/* ---------------------------------------------------------------------------------------------- */
a { text-decoration: none; } a:hover { text-decoration: underline; }
a { color: RoyalBlue; } a:visited { color: Indigo; }
pre, code, kbd, samp { padding: 0 .3em; background: GhostWhite; border: 1px solid #ccc; }
img { margin: .5em; }
textarea { vertical-align: text-top; }
