/* ---------------------------------------------------------------------------------------------- */
/* Make HTML more responsive (adapted from http://fluidity.sexy)                                  */
/* ---------------------------------------------------------------------------------------------- */
img, canvas, iframe, video, svg, select, textarea { max-width: 100%; }
pre { overflow-x: auto; }

/* ---------------------------------------------------------------------------------------------- */
/* Restore normal viewport size on mobile browsers (www.w3.org/TR/css-device-adapt/)              */
/* ---------------------------------------------------------------------------------------------- */
@viewport { width: device-width; initial-scale: 1; }

/* ---------------------------------------------------------------------------------------------- */
/* Box-model fix (adapted from https://css-tricks.com/box-sizing)                                 */
/* ---------------------------------------------------------------------------------------------- */
html { box-sizing: border-box; } *, *:before, *:after { box-sizing: inherit; }

/* ---------------------------------------------------------------------------------------------- */
/* Size text according to screen width (adapted from https://css-tricks.com/molten-leading-css/)  */
/* ---------------------------------------------------------------------------------------------- */
html { font-size: 16px; }
@media (min-width: 600px) { html { font-size: calc(0.4vw + 13.6px) } }

/* ---------------------------------------------------------------------------------------------- */
/* Improved typography (adapted from http://bettermotherfuckingwebsite.com)                       */
/* ---------------------------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 { font-family: Georgia, Century Schoolbook L, serif; letter-spacing: .03em;
    line-height: 1.2; }
body { font-family: serif; line-height: 1.5; margin: 0 auto; max-width: 35em; padding: 1em; }

/* ---------------------------------------------------------------------------------------------- */
/* Improved contrast (adapted from http://jgthms.com/web-design-in-4-minutes/)                    */
/* ---------------------------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, b, strong, th { color: #222; } body { color: #444; }

/* ---------------------------------------------------------------------------------------------- */
/* Clean table style table (adapted from http://getskeleton.com)                                  */
/* ---------------------------------------------------------------------------------------------- */
table { border-collapse: collapse; font-family: sans-serif; font-size: 90%; }
table *:not(th):not(td){ font-family: serif; font-size: 1rem; }
th, td { padding: 0 .75em; text-align: left; border-bottom: 1px solid #ddd; }
th { border-bottom-color: #aaa; }
th:first-child, td:first-child { padding-left: 0; }
th:last-child, td:last-child { padding-right: 0; }

/* ---------------------------------------------------------------------------------------------- */
/* Additional adjustments (my own)                                                                */
/* ---------------------------------------------------------------------------------------------- */
a[href], a:active { text-decoration: none; }
a[href]:hover, a[href]:active { text-decoration: underline; }
a[href], a[href]>b, a[href]>strong { color: RoyalBlue; } /* override "improve contrast" (above) */
a[href]:visited, a[href]:visited>b, a[href]:visited>strong { color: BlueViolet; }
pre, code, kbd, samp { padding: 0 .3em; margin: 0 .1em; font-size: 80%;
    background: GhostWhite; border: 1px solid #ccc; }
pre > code { border: none; margin:p 0; padding: 0; font-size: 100%; }
textarea { vertical-align: text-top; }
textarea, input[type=text], input:not([type]) { font-family: monospace; font-size: 80%; }
input[type] { font-family: sans-serif; font-size: 100%; }
blockquote { padding-left: 1em; margin-left: 0; border-left: 5px solid #ddd; }
