/* ---------------------------------------------------------------------------------------------- */
/* Make HTML more responsive (adapted from https://fluidity.sexy â† note: broken link)             */
/* ---------------------------------------------------------------------------------------------- */
img, canvas, iframe, video, svg, select, textarea { max-width: 100%; }
pre { overflow-x: auto; }

/* ---------------------------------------------------------------------------------------------- */
/* Restore normal viewport size on mobile browsers (https://www.w3.org/TR/css-device-adapt/)      */
/* ---------------------------------------------------------------------------------------------- */
@viewport { width: device-width; initial-scale: 1; }

/* ---------------------------------------------------------------------------------------------- */
/* Box-model fix (adapted from https://css-tricks.com/box-sizing/)                                */
/* ---------------------------------------------------------------------------------------------- */
html { box-sizing: border-box; } *, *:before, *:after { box-sizing: inherit; }

/* ---------------------------------------------------------------------------------------------- */
/* Size text according to screen width (adapted from https://css-tricks.com/molten-leading-css/)  */
/* ---------------------------------------------------------------------------------------------- */
html { font-size: 16px; }
@media (min-width: 600px) { html { font-size: calc(13px + 0.5vw) } }

/* ---------------------------------------------------------------------------------------------- */
/* Improved typography (adapted from http://bettermotherfuckingwebsite.com)                       */
/* ---------------------------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 { margin-top: 1em; margin-bottom: 0.5em; }
body { line-height: 1.5; margin: 0 auto; max-width: 40em; padding: 1em; }

/* ---------------------------------------------------------------------------------------------- */
/* Improved contrast (adapted from https://jgthms.com/web-design-in-4-minutes/)                   */
/* ---------------------------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, b, strong, th { color: #222; } body { color: #333; }

/* ---------------------------------------------------------------------------------------------- */
/* Clean table style table (adapted from http://getskeleton.com)                                  */
/* ---------------------------------------------------------------------------------------------- */
table { border-collapse: collapse; font-family: sans-serif; font-size: 90%; }
table *:not(th):not(td){ font-family: var(--serif); font-size: 1rem; line-height: 1.5; }
th, td { padding-left: .5em; padding-right: 1em; text-align: left; border-bottom: 1px solid #ddd; }
th, thead, tfoot { background: #eee; font-weight: bold; }

/* ---------------------------------------------------------------------------------------------- */
/* Additional adjustments (my own)                                                                */
/* ---------------------------------------------------------------------------------------------- */
:root { --serif: 'Book Antiqua', 'Palatino', 'Palatino Linotype', 'URW Palladio L', serif; }
body { font-family: var(--serif); }
a[href] { text-decoration: none; } a[href]:hover { text-decoration: underline; }
a[href], a[href]>b, a[href]>strong { color: RoyalBlue; } /* override "improve contrast" (above) */
a[href]:visited, a[href]:visited>b, a[href]:visited>strong { color: BlueViolet; }
pre, code, kbd, samp, tt { padding: .1em .3em; margin: 0 .1em; font-size: 80%; }
pre, code, kbd, samp, tt { background: #eee; border: 1px solid #ccc; }
pre > code { border: none; margin: 0; padding: 0; font-size: 100%; }
textarea { vertical-align: text-top; }
textarea, input[type=text], input:not([type]) { font-family: monospace; font-size: 80%; }
input[type] { font-family: sans-serif; font-size: 100%; }
blockquote { padding-left: 1em; margin-left: 0; border-left: 5px solid #ddd; color: #666; }
img[align="right"] { margin-left: 1em; } img[align="left"] { margin-right: 1em; }

/* ---------------------------------------------------------------------------------------------- */
/* Logarithmic size scale for headings (https://github.com/waldyrious/downstyler/issues/30)       */
/* ---------------------------------------------------------------------------------------------- */
h1 { font-size: 200.00%; /* 2^(5/5) = 2^1 = 2 */ }
h2 { font-size: 174.11%; /* 2^(4/5) */ }
h3 { font-size: 151.57%; /* 2^(3/5) */ }
h4 { font-size: 131.95%; /* 2^(2/5) */ }
h5 { font-size: 114.87%; /* 2^(1/5) */ }
h6 { font-size: 100.00%; /* 2^(0/5) = 2^0 = 1 */ }
